*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#ff5fa2,#ffb6d9);
overflow:hidden;
color:#fff;
text-align:center;
height:100vh;
}

.hide{
display:none;
}

#loader{
position:fixed;
width:100%;
height:100%;
background:#ff4f92;
display:flex;
justify-content:center;
align-items:center;
font-size:35px;
z-index:999;
animation:fadeOut 3s forwards;
}

@keyframes fadeOut{
0%{opacity:1;}
90%{opacity:1;}
100%{
opacity:0;
visibility:hidden;
}
}

section{
width:100%;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:25px;
}

.title{
font-size:45px;
animation:glow 2s infinite;
}

.subtitle{
margin:20px;
font-size:20px;
}

button{
padding:15px 35px;
border:none;
border-radius:40px;
background:white;
color:#ff2d7a;
font-size:18px;
font-weight:bold;
cursor:pointer;
transition:.3s;
}

button:hover{
transform:scale(1.08);
}

#question{
font-size:28px;
margin:25px;
}

.answerBtn{
width:260px;
margin:10px;
padding:15px;
border-radius:30px;
background:white;
color:#ff2d7a;
font-size:18px;
}

#typing{
max-width:90%;
height:350px;
overflow:auto;
padding:20px;
background:rgba(255,255,255,.15);
border-radius:20px;
font-size:18px;
line-height:1.8;
backdrop-filter:blur(8px);
}

.cake{
font-size:120px;
animation:bounce 1.5s infinite;
}

.hearts::before,
.hearts::after{
content:"❤️ ❤️ 💖 💕 💗";
position:absolute;
font-size:28px;
left:0;
width:100%;
animation:float 8s linear infinite;
}

.hearts::after{
animation-delay:4s;
}

@keyframes bounce{
50%{
transform:translateY(-20px);
}
}

@keyframes glow{
50%{
text-shadow:0 0 25px white;
}
}

@keyframes float{
0%{
transform:translateY(100vh);
opacity:0;
}
20%{
opacity:1;
}
100%{
transform:translateY(-120vh);
opacity:0;
}
}

::-webkit-scrollbar{
width:6px;
}

::-webkit-scrollbar-thumb{
background:white;
border-radius:20px;
}
.hide{
  display:none;
}
